#whole {
    height: 100%;
    margin-top: 60px;
}
@media screen and (max-width : 1500px) {
    #image_delete {
        display: none;
    }
}
body {
    display: block;
}
.sectionclass {
    flex-direction: column;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-grow: 1;
}
.mainclass {
    display: flex;
    position: relative;
}
.articleclass {
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    border: 0 solid #000;
    display: flex;
}
@media screen and (min-width : 1900px) {
    .imgclass {
    align-self: center;
    background-image: url(https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png);
    background-size: 454px 618px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
    background-repeat: no-repeat;
    }
}

div {
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    border: 0 solid #000;
}
.imgdiv {
    margin: 99px 0 0 151px;
    position: relative;
}
@media screen and (min-width : 1900px) {
    .img {
    height: 427px;
    width: 240px;
    background-image: url(https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg);
    }
}

.logindiv {
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    margin-top: 40px;
    max-width: 350px;

}
.loginboxdiv {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.instagramlogo {
    margin: 22px auto 12px;
    background-position: 0 -130px;
    background-repeat: no-repeat;
    height: 51px;
    width: 175px;
    display: block;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
}
.inputdiv {
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
}
.formclass {
    display: flex;
    flex-direction: column;
}
.formdiv {
    margin-top: 24px;
}
.idpwdiv {
    margin: 0 40px 6px;
    display: flex;
    border: none;
}
.idpwinput {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    width: 100%;
}
.labelclass {
    display: flex;
    height: 36px;
    flex: 1 0 0;
}
.idpwfont {
    font-size: 12px;
    color: #8e8e8e;
    flex: 1 0 auto;
    overflow: hidden;
    padding: 9px 0px 7px 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    border: 0;
    cursor: text;
}
.blankclass {
    height: 100%;
    border: none;
}
.loginclass {
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;
}
.loginbuttondiv {
    background-color: rgb(154, 215, 255);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 111px;
    text-align: center;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.loginclick {
    cursor: pointer;
    text-align: center;
}
.orline {
    margin: 10px 40px 18px;
}
.leftright {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #8e8e8e;
    font-size: 13px;
    margin: 8px 0;
    line-height: 20px;
}
.leftright::before,
.leftright::after {
    content: "";
    flex-grow: 1;
    margin: 0 18px;
    height: 1px;
    font-size: 0;
    line-height: 15px;
    background-color: #8e8e8e;
}

.facebookbutton {
    border: 0;
    color: #0095f6;
    display: inline;
    padding-left: 50px;
    appearance: none;
    background: 0 0;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.facebooklogo {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
    text-align: center;
}
.facebookcolor {
    color: #385185;
    text-align: center;
}
.findpw {
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.joindiv {
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.joinletter {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
}
.noaccount {
    font-size: 14px;
    margin: 15px;
    text-align: center;
}
.join {
    display: inline;
    margin: 0;
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.downloaddiv {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.downloadtxt {
    font-size: 14px;
    line-height: 18px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.downloadimg {
    margin: 10px 0 10px 0;
    justify-content: center;
    display: flex;
}
.imgmargin {
    margin-right: 8px;
}
.footerclass {
    padding-left: 16px;
    padding-right: 16px;
    padding: 0 20px;
    margin-top: 50px;
}
.footerdiv {
    margin-bottom: 52px;
}
.footermargintop {
    margin-top: 24px;
}
.footerlinediv {           
    justify-content: center;
    display: flex;
}
.footerelement {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 12px;
}
a {
    text-decoration: none;
}
.footerword {
    display: block;
    color: #8e8e8e;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: -2px 0 -3px;
}
.footerbottom {
    margin-top: 12px;
    margin-bottom: 12px;
    justify-content: center;
    display: flex;
}
.korclass {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: -2px 0 -3px;
}
.kordiv {
    font-weight: 400;
    color: #8e8e8e;
    cursor: pointer;
}
.korstyle {
    display: flex;
}
.vicon {
    margin-left: 4px;
}
.cor {
    margin-left: 16px;
}
.corstyle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: -2px 0 -3px;
    color: #8e8e8e;
}