<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - Instagram</title>
    <link rel="shortcut icon" href="/images/feed/instagram.png">
    <link rel="stylesheet" href="/stylesheets/style_for_login.css">
</head>

<body onload="showImage()">

    <div class="container">
        <img id="introImg" border="0">
        <div class="outer">
            <div class="body">
                <img src="/images/feed/인스타로고.png" class="title">
                <form class="outer" action="/feed/" method="post">
                    <input id="number" type="text" placeholder="전화번호, 사용자 이름 또는 이메일">
                    <input id="password" type="password" placeholder="비밀번호">
                    <button type="submit" class="btn" id="join"><b>로그인</b></button>
                    <div style="color: #8E8E8E; font-size:15px; margin-top:15px;">---------------- 또는 -----------------
                    </div>
                    <div style="color:#385185; font-size:15px; margin-top:15px;"><b>Facebook으로 로그인</b></div>
                    <div style="font-size:12px; margin-top:15px; margin-bottom:20px;">비밀번호를 잊으셨나요?</div>
                </form>
            </div>

            <div class="container2">
                <div class="body2">
                    계정이 없으신가요? <div style="margin-left:5px; color:#0095F6"><b>가입하기</b></div>
                </div>
            </div>

            <div class="container2">
                앱을 다운로드하세요.
            </div>

            <div class="container2">
                <div class="body3">
                    <div class="intro3">
                        <img src="/images/feed/applestore.png" style="width:136px; height : 40px;">
                        <img src="/images/feed/googleplay.png" style="width:136px; height : 40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/login.js"></script>
</body>

</html>