/* icon */

.far {
  font-size: 25px;
}
/* .fa-compass {
      font-size: 25px;
    }
    
    .fa-heart {
      font-size: 25px;
    } */

.fa-ellipsis-h {
  font-size: 20px;
}

/* icon end */

/* header */

header {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border: solid 1px #efefef;
  position: fixed;
  top: 0;
  background-color: white;
}

.header-container {
  width: 60%;
  height: 100%;
  margin: 0 20%;
  vertical-align: center;
  padding: 5px 0 5px;
  display: flex;
}

.header-left {
  flex: 2;
}
/* header-left */
.insta-icon {
  font-size: 25px;
  float: left;
  margin-right: 15px;
  padding-top: 3px;
}

.vertical-line {
  border-left: 1px solid gray;
  height: 25px;
  float: left;
  margin-right: 15px;
  padding-top: 3px;
}

.instagram-logo {
  width: 100px;
  height: 100%;
}

/* header-left end */

.header-center {
  width: 200px;
  /* height: 80%; */
  height: 28px;
  flex: 2;
  /* margin-right: 100px; */
}

.search {
  width: 100%;
  height: 100%;
  outline: solid 1px #efefef;
  background-color: #fafafa;
  border: none;
}
.search::placeholder {
  text-align: center;
}

.search:focus {
  /* color: red; */
  outline: none;
}
/* header-right */

.header-right {
  /* width: 170px; */
  flex: 1;
  /* flex-flow: row; */
  margin-left: 100px;
  height: 80%;
  padding: 2px 0;
}

.tools {
  display: flex;
  text-align: center;
}

.tool-compass {
  flex: 1;
}

.my-heart {
  flex: 1;
}

.my-profile {
  flex: 1;
}

/* header-right end */

/* header end */

.content {
  width: 100%;
  min-height: 700px;
  padding: 100px 0;
  /* height: 100%; */
  /* height: 1200px; */
  background-color: #fafafa;
}

.my-feed {
  width: 900px;
  min-height: 600px;
  margin: 0 auto 100px;
}

.my-info {
  /* width: 60%; */
  /* border: solid 1px #efefef; */

  transition: all ease 0.5s;
}
.img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.content > hr {
  width: 600px;
}

.content-select {
  width: 400px;
  padding: 20px 250px;
  display: flex;
  text-align: center;
}

.user-post {
  flex: 1;
}
.IGTV {
  flex: 1;
}
.saved-post {
  flex: 1;
}
.tagged-post {
  flex: 1;
}

.my-post-list {
}

.my-post-list {
  width: 900px;
  min-height: 500px;
}

.post-item {
  width: 293px;
  height: 293px;
  float: left;
  display: flex;
  /* align-items: center; */
  margin-bottom: 10px;
  margin: 0 7px 7px 0;
}

.post-cover {
  z-index: 100;
  width: 293px;
  height: 293px;
  position: absolute;
  background-color: black;
  opacity: 0;
  transition: all ease 0.5s;
}

.post-info {
  /* z-index: ; */
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-cover:hover {
  opacity: 0.5;
}
