body{
    background : #FAFAFA;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header{
    padding: 1rem;
    color: black;
    background: #FFFFFF;
    font-weight: bold;
    display:flex;
    position : fixed;
    align-items: center;
    top : 0;
    left : 0;
    right : 0;
    border : 1px solid #efefef;
    border-radius : 3px;
}

.main{
    margin-top : 100px;
    display : flex;
    justify-content: center;
    background: #FAFAFA;
}

.body{
    margin-top : 20px;
}

.top{
    height: 28px;
    padding : 16px;
    border : 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.contents{
    height:500px;
    background-color: #FFFFFF;
}

.footer{
    height : 40px;
    border-top : 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
    display : flex;
    align-items: center;
}

.input_box{
    border : 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
}

#like, #like0, #like1{
    display : none;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    background-color: #FFFFFF;
}

.comments{
    height : 56px;
    border : 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

#my_modal{
    display: none;
    width : 300px;
    padding : 20px 60px;
    background-color: #fefefe;
    border : 1px solid #888;
    border-radius : 3px;
}

.footer button{
    background-color: #FFFFFF;
    border : 0px;
}

.modal-container {
    background: rgba(0,0,0,.5);
    display: none;
    /* this is how we cover the entire page */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal-container.show-modal {
    display: block;
  }
  
  .modal {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
  
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }