body{
    background : #FAFAFA;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header{
    padding: 1rem;
    color: black;
    background: #FFFFFF;
    font-weight: bold;
    display:flex;
    position : fixed;
    align-items: center;
    top : 0;
    left : 0;
    right : 0;
    border : 1px solid #efefef;
    border-radius : 3px;
}

.main{
    margin-top : 100px;
    display : flex;
    justify-content: center;
    background: #FAFAFA;
}

.body{
    margin-top : 20px;
}

.top{
    height: 28px;
    padding : 16px;
    border : 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.contents{
    height:500px;
    background-color: #FFFFFF;
}

.footer{
    height : 40px;
    border : 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
    display : flex;
    align-items: center;
}

.comments{
    height : 56px;
    border : 1px solid #efefef;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
#my_modal{
    display: none;
    width : 300px;
    padding : 20px 60px;
    background-color: #fefefe;
    border : 1px solid #888;
    border-radius : 3px;
}

.footer button{
    background-color: #FFFFFF;
    border : 0px;
}

#my_modal .modal_close_btn{
    position:absolute;
    top: 10px;
    right : 10px;
}