body {
    background-color: #FAFAFA;
}

.container{
    margin-top : 100px;
    display : flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.outer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: #0095F6;
    border : 1px solid transparent;
    border-radius: 3px;
    font-size:14px;
    color : #FFFFFF;
    width : 268px;
    height : 31.2px;
    padding : 5px 9px;
}

.intro{
    font-size: 17px;
    color: #8E8E8E;
    text-align: center;
}

input{
    width : 258px;
    height : 19px;
    background: #FAFAFA;
    border : 1px solid #efefef;
    border-radius : 3px;
    margin-top : 5px;
    padding : 9px 0px 7px 8px;
}

.body{
    background-color: #FFFFFF;
    border : 1px solid #efefef;
    border-radius: 4px;
}